<!DOCTYPE html>
<html>
    <head>
        <title>Dettagli Prenotazioni</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/detailsloan.css' %}">
    </head>
    <body>
        <h1>Dettagli Prenotazioni</h1>
        <div class="reservation-container">
            <h2 class="book-title">Il Signore degli Anelli</h2>
            <p class="book-author">di J.R.R. Tolkien</p>
            <div class="customer-details">
                <span class="customer-label">Cliente:</span>
                <span class="customer-value">John Doe</span>
            </div>
            <div class="customer-details">
                <span class="customer-label">Email:</span>
                <span class="customer-value">johndoe@example.com</span>
            </div>
            <div class="reservation-date">Prenotazione effettuata il 25 Maggio 2023</div>
        </div>
        <div class="reservation-container">
            <h2 class="book-title">Codice Da Vinci</h2>
            <p class="book-author">di Dan Brown</p>
            <div class="customer-details">
                <span class="customer-label">Cliente:</span>
                <span class="customer-value">Jane Smith</span>
            </div>
            <div class="customer-details">
                <span class="customer-label">Email:</span>
                <span class="customer-value">janesmith@example.com</span>
            </div>
            <div class="reservation-date">Prenotazione effettuata il 28 Maggio 2023</div>
        </div>
        <div class="reservation-container">
            <h2 class="book-title">1984</h2>
            <p class="book-author">di George Orwell</p>
            <div class="customer-details">
                <span class="customer-label">Cliente:</span>
                <span class="customer-value">Mark Johnson</span>
            </div>
            <div class="customer-details">
                <span class="customer-label">Email:</span>
                <span class="customer-value">markjohnson@example.com</span>
            </div>
            <div class="reservation-date">Prenotazione effettuata il 30 Maggio 2023</div>
        </div>
    </body>
</html>
