<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
    </head>
    <body>
        <h1>Registrazione Biblioteca</h1>
        <h3>Compila il form per la registrazione.</h3>
        <form method="POST" action="/register">
            <fieldset>
                <legend>Credenziali</legend>
                <p>
                    <label for="username">Username:</label>
                    <input type="text"
                           id="username"
                           name="username"
                           placeholder="Inserisci lo username..."
                           minlength="3"
                           maxlength="10"
                           pattern="^[A-Za-z]+$"
                           required>
                    <span id="errusername"></span>
                </p>
                <p>
                    <label for="email">Email:</label>
                    <input type="email"
                           id="email"
                           name="email"
                           placeholder="Inserisci l'email..."
                           required>
                    <span id="erremail"></span>
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="Inserisci la password..."
                           minlength="8"
                           required>
                    <span id="errpassword"></span>
                </p>
                <p>
                    <label for="cpassword">Conferma password:</label>
                    <input type="password"
                           id="cpassword"
                           name="cpassword"
                           placeholder="Conferma la password..."
                           minlength="8"
                           required>
                    <span id="errcpassword"></span>
                </p>
            </fieldset>
            <fieldset>
                <legend>Dati cliente</legend>
                <p>
                    <label for="nome">Nome:</label>
                    <input type="text"
                           id="nome"
                           name="nome"
                           placeholder="Inserisci il nome..."
                           minlength="3"
                           maxlength="10"
                           pattern="^[A-Za-z]+$"
                           required>
                    <span id="errnome"></span>
                </p>
                <p>
                    <label for="cognome">Cognome:</label>
                    <input type="text"
                           id="cognome"
                           name="cognome"
                           placeholder="Inserisci il cognome..."
                           minlength="3"
                           maxlength="10"
                           pattern="^[A-Za-z]+$"
                           required>
                    <span id="errcognome"></span>
                </p>
                <p>
                    <label for="numero">Numero di telefono:</label>
                    <input type="tel"
                           id="numero"
                           name="numero"
                           placeholder="Inserisci il numero di telefono..."
                           required>
                    <span id="errnumero"></span>
                </p>
            </fieldset>
            <ul id="errorlist">
            </ul>
            <p>
                <input type="submit" value="Registrati">
                <input type="reset" value="Annulla">
            </p>
        </form>
    </body>
</html>
